<div class="navigation">
  <button
    mat-raised-button
    type="button"
    [routerLink]="['/up']"
    [disabled]="isOnUp"
    [matTooltip]="!isOnUp ? 'Increment the counter' : 'You already are on that page'"
    matTooltipPosition="below"
  >
    INCREMENT
  </button>

  <button
    mat-raised-button
    type="button"
    [routerLink]="['/down']"
    [disabled]="isOnDown"
    [matTooltip]="!isOnUp ? 'Decrement the counter' : 'You already are on that page'"
    matTooltipPosition="below"
  >
    DECREMENT
  </button>

  <button
    mat-raised-button
    type="button"
    [routerLink]="['/reset']"
    [disabled]="isOnReset"
    [matTooltip]="!isOnReset ? 'Reset the counter' : 'You already are on that page'"
    matTooltipPosition="below"
  >
    RESET COUNTER
  </button>
</div>
