<div class="navigation">
  <div class="navigation-buttons">
    <button
      mat-raised-button
      type="button"
      [routerLink]="['/up']"
      [disabled]="isOnUp"
      [textContent]="'NAVIGATION.UP' | translate"
      [matTooltip]="'NAVIGATION.UP_TOOLTIP' | translate"
      matTooltipPosition="below"
    ></button>

    <button
      mat-raised-button
      type="button"
      [routerLink]="['/down']"
      [disabled]="isOnDown"
      [textContent]="'NAVIGATION.DOWN' | translate"
      [matTooltip]="'NAVIGATION.DOWN_TOOLTIP' | translate"
      matTooltipPosition="below"
    ></button>

    <button
      mat-raised-button
      type="button"
      [routerLink]="['/reset']"
      [disabled]="isOnReset"
      [textContent]="'NAVIGATION.RESET' | translate"
      [matTooltip]="'NAVIGATION.RESET_TOOLTIP' | translate"
      matTooltipPosition="below"
    ></button>

    <div class="lang-block">
      <img
        *ngFor="let lang of acceptedLangs"
        src="assets/images/{{ lang }}.png"
        [attr.alt]="lang"
        class="lang"
        (click)="changeLanguage(lang)"
      />
    </div>
  </div>
</div>
