@import '../../../../../scss/variables.scss';

.page-container {
  height: 100%;
  text-align: center;

  &.--white {
    background-color: $white;
  }

  &.--red {
    background-color: $red;
  }

  &.--green {
    background-color: $green;
  }
}
