.page-container {
  height: 100%;
  text-align: center;

  &.--white {
    background-color: #ffffff; // TODO > ADD VARIABLE
  }

  &.--red {
    background-color: #e74c3c; // TODO > ADD VARIABLE
  }

  &.--green {
    background-color: #27ae60; // TODO > ADD VARIABLE
  }
}
